body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e4e8;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #003366;
  font-size: 40px;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 3px solid #003366;
  background-color: white;
  width: 90%;
  height: 75vh;
  border-radius: 8px;
}
