body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e4e8;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
h2 {
  text-align: center;
  margin: 20px 0;
  color: #003366;
  font-size: 40px;
}

/* -------- MATRIZ ESTILO TABLA -------- */

table {
  border-collapse: collapse;
  margin-top: 15px;
  width: 100%;
}

table th,
table td {
  border: 1px solid #003366;
  padding: 6px;
  text-align: center;
}

table th {
  background: #1c4c7c;
  color: white;
}

.layout {
  flex: 1;
  display: flex;
  width: 100%;
  margin: 0;
  gap: 20px;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

/* IZQUIERDA - CANVAS */

.canvas-container {
  flex: 1;
  min-height: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
}

#canvasGrafo {
  width: 100%;
  height: 100%;
  border: 3px solid #003366;
  border-radius: 8px;
}

/* DERECHA - PANEL MATRIZ */

.matrix-container {
  flex: 1;
  min-height: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.matrix-container button {
  margin-bottom: 10px;
  padding: 8px;
  background: #1c4c7c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.matrix-scroll {
  flex: 1;
  overflow: auto;
  margin-top: 10px;
}

/* MATRIZ */

table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
}

table th,
table td {
  border: 1px solid #003366;
  padding: 6px 10px;
  text-align: center;
}

table th {
  background: #1c4c7c;
  color: white;
}
